:root {
    /* default*/

    --df-red: red;
    --df-orange: orange;
    --df-yellow: yellow;
    --df-green: green;
    --df-blue: blue;
    --df-purple: purple;
    --df-pink: pink;

    /* default pastels */

    --df-p-red: ;
    --df-p-orange: ;
    --df-p-yellow: ;
    --df-p-green: ;
    --df-p-blue: ;
    --df-p-purple: ;
    --df-p-pink: ;

    /* default dark */

    --df-d-red: ;
    --df-d-orange: ;
    --df-d-yellow: ;
    --df-d-green: ;
    --df-d-blue: ;
    --df-d-purple: ;
    --df-d-pink: ;

    /* default neutrals */

    --df-black: black;
    --df-white: white;
}

/* overview */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

/* main content */

main {
    width: 100%;
    background-color: darkgray;
}

/* settings*/

button {
    background-color: transparent;
    border: none;
}

button:hover {
    animation-name: settings-icon;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

svg {
    width: 50px;
    height: auto;
}

@keyframes settings-icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#settings-menu {
    background-color: grey;
    height: 100vh;
    width: 30%;
    text-align: center;
    padding: 10px;
}

/* eye and animation area stuff */

#animation-area {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

#eye {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    height: 500px;
    border-radius: 100% 0%;
    transform: rotate(45deg);
    margin: 100px;   
}
